.container {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  background-color: #adadad;
  border-radius: 20px;
  padding: 20px;
  margin-top: 40px;
  margin-bottom: 40px;
}