.container {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  height: 80vh;
  display: flex;
  flex-direction: column;
  background-color: #adadad;
  border-radius: 20px;
  padding: 20px;
  margin-top: 40px;
  margin-bottom: 40px;
  box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
}

.controls {
  display: flex;
  gap: 10px;
  margin-top: 8px;
  justify-content: flex-end;
  align-items: center;
}

.controls button {
  padding: 8px 12px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  margin-left: 0;
  box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
  margin-top: 5px;
}

.controls button:first-child {
  background-color: #4caf50;
  color: white;
}

.controls button:last-child {
  background-color: #ff4d4d;
  color: white;
}

input {
  height: 30px;
  border-radius: 10px;
  border: none;
  padding-left: 10px;
  box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
}