body {
    background: #212121;
    background: linear-gradient(129deg, rgba(33, 33, 33, 1) 0%, rgba(84, 84, 84, 1) 50%, rgba(92, 92, 92, 1) 100%);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* {
    font-family: Roboto;
}